<section class="page7 h-[36vh] bg-slate-500 relative w-[100vh] lg:h-[75vh] lg:w-full">
    <section
      class="overlay absolute h-[36vh] w-[100vh] lg:h-[75vh] lg:w-1/2 lg:absolute"
    >
      <h1
        class="text-4xl ml-20 mt-5 lg:text-5xl lg:ml-52 lg:mt-24 text-white font-[Marcellus]"
      >
        Let’s Connect
      </h1>
      <p class="ml-20 text-xs mt-3 lg:ml-52 lg:mt-5 lg:text-xl text-white">
        Share your contact details <br />
        and we’ll contact you soon!
      </p><form action="/createMessage" method="POST" autocomplete="off">
        <section class="btn mt-2 lg:mt-8">
          <section class="btn1 ml-20 lg:ml-52 g lg:mt-5 lg:flex">
            <input
              class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 outline-none lg:rounded-lg"
              type="text"
              name="fullname"
              placeholder="Name"
              required
            />
            <input
              class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 lg:ml-5 outline-none lg:rounded-lg"
              type="email"
              name="email"
              placeholder="Email"
              required
            />
          </section>
  
          <section class="btn2 ml-20 mt-2 lg:ml-52 lg:mt-3 lg:flex">
            <input
              class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 outline-none lg:rounded-lg"
              type="tel"
              name="number"
              placeholder="Phone"
              required
            />
            <input
              class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 lg:ml-5 outline-none lg:rounded-lg"
              type="text"
              name="city"
              placeholder="City"
              required
            />
          </section>
        </section>
        <button
          class="px-3 text-xs py-1 mt-5 ml-20 lg:px-8 lg:py-2 lg:ml-52 lg:mt-10 lg:text-xl rounded-full border-2 border-[#ffffff] text-[#ffffff] font-[Marcellus]"
          type="submit"
        >
          SUBMIT
        </button>
      </form>
    </section>
    <img
      class="h-[36vh] w-[100vh] lg:h-[75vh] lg:w-full"
      src="/images/p7.webp"
      alt=""
    />
  </section>

  <section
    class="page8 h-[60vh] w-[100vh] lg:h-[60vh] lg:w-full flex justify-center items-center"
  >
    <section class="page8-part1 h-[52vh] w-[40vh] lg:w-[30vw] lg:h-[40vh]">
      <img
        class="px-12 py-1 mt-8 lg:px-10 lg:py-2 lg:mt-0"
        src="/images/logo.webp"
        alt=""
      />
      <p
        class="px-1 ml-8 mt-12 text-lg lg:px-10 lg:py-14 tracking-wide font-[Poppins Light] leading-tight lg:mt-0 lg:ml-0"
      >
        Transform your living spaces <br />
        with our top-tier insect <br />
        screens and awnings. Enjoy a <br />
        blend of protection, comfort, <br />
        and style, making your home a <br />
        haven of tranquility.
      </p>
    </section>
    <section
      class="page8-part2 h-[60vh] w-[60vh] lg:w-[70vw] lg:h-[40vh] lg:flex lg:items-center lg:justify-center"
    >
      <section class="flex mt-20 ml-20 gap-16 lg:flex lg:mt-0 lg:ml-0 lg:gap-0">
        <section class="part-1 lg:w-[14vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Pages</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">Insect Screens</a> <br />
            <a href="">Awnings</a><br />
            <a class="" href="">Shades</a>
          </section>
        </section>
        <section class="part-2 lg:w-[12vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Follow us</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">Instagram</a> <br />
            <a href="">Facebook</a><br />
            <a class="" href="">Linkedin</a>
          </section>
        </section>
      </section>

      <section class="flex mt-7 ml-20 gap-24 lg:flex lg:mt-0 lg:ml-0 lg:gap-0">
        <section class="part-3 lg:w-[12vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Contact</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">0000 0000</a> <br />
            <a href="">0000 0000</a><br />
            <a class="" href="">0000 0000</a>
          </section>
        </section>
        <section class="part-4 lg:w-[18vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Address</h1>
          <section class="footer1 lg:mt-14">
            <p>
              Sector H, Govindpura <br />
              Industrial Area, Near <br />
              Barnala Crane, <br />
              442022
            </p>
          </section>
        </section>
      </section>
    </section>
  </section>
</body>
</html>
