<%- include("./partials/header.ejs") %>
<section class="main w-[100vw] bg-[#ffffff]   ">
  
    <section
      class="page1  h-[78vh] w-[100vh] lg:h-[100vh] lg:w-[100vw]  flex justify-evenly "
    >
      <section
        class="part-1 h-[74vh]  w-[45vh]   lg:h-[100vh] lg:w-[50vw] flex items-center justify-center"
      >
        <section class="box1   lg:h-[75vh] lg:w-[30vw] lg:ml-16">
          <img src="/images/about.webp" alt="" />
        </section>
      </section>
      <section class="part-2 h-[80vh]  w-[40vh]  lg:h-[100vh] lg:w-[50vw] ">
        <h4 class="text-xs text-[#4ba8bf] mt-20 lg:mt-[12vh] font-semibold">INSECT SCREENS</h4> 
        <h1 class=" text-3xl mt-2 lg:text-4xl font-[Marcellus] lg:mt-5">Classic Pleated Mesh</h1>
        <p class=" text-xs mt-3 lg:text-sm lg:w-[23vw] lg:mt-5">
          Discover the perfect blend of functionality and affordability with
          our pleated insect screens. Featuring a collapsible mesh design,
          these robust screens provide effective protection against pests
          while allowing fresh air to flow freely. Durable and stylish, our
          insect screens are an affordable solution for enhancing any living
          space.
        </p>
        <h5 class="text-sm tracking-widest mt-10 text-[#4ba8bf] lg:mt-5 ">FEATURES</h5>
        <section class="part2-2 mt-2  lg:h-[20vh] lg:w-[25vw] lg:mt-5">
          <section class="box1 lg:h-[4vh] "> <h1 class="text-sm ">Collapsible Mesh</h1></section>
          <section class="box2 lg:h-[5vh] border-y-2"><h1 class="text-sm ">Cost Effective</h1></section>
          <section class="box3 lg:h-[4vh] "><h1 class="text-sm ">Robust Net</h1></section>
          <section class="box4 lg:h-[3vh] border-t-2"><h1 class="text-sm ">Smooth Operation</h1></section>
        </section>
        <button class=" mt-5  px-2 tex py-1 lg:px-7 lg:py-2 border-2 rounded-full border-[#4ba8bf] text-[#4ba8bf] lg: font-[Marcellus] lg:mt-4 ">GET QUOTE</button>
      </section>
    </section>


    
</section>
<%- include("./partials/footer.ejs") %>
