<%- include("./partials/header.ejs") %>

<section class="main w-full h-screen bg-[#ffffff]">
  <section class="page1 h-[50vh] w-[100vh] bg-slate-950 lg:h-[87vh] lg:w-full">
    <section
      class="overlay h-[50vh] w-[100vh] py-24 px-20 lg:h-[87vh] lg:w-1/2 absolute lg:py-40 lg:px-36"
    >
      <h1
        class="text-5xl text-white leading-12 font-[Marcellus] lg:text-6xl lg:tracking-wide"
      >
        Screen Shade & <br />
        Blinds Co.
      </h1>
      <p
        class="tracking-wider text-xs mt-6 text-[#ffffff] font-[Poppins Light] lg:text-lg"
      >
        Discover premium insect screens, stylish <br />
        awnings, and elegant window blinds. Shield your <br />
        home with comfort and style from Screen & <br />
        Shade Solutions!
      </p>
      <button
        class="px-2 py-1 mt-5 rounded-full border-2 text-[#ffffff] font-[Marcellus] lg:px-4 lg:py-2"
      >
        CATALOGUE
      </button>
    </section>
    <img
      class="h-[50vh] w-[100vh] lg:h-[87vh] lg:w-full object-cover"
      src="/images/img1.webp"
      alt=""
    />
  </section>

  <section
    class="page2 h-[105vh] w-[100vh] mt-6 lg:flex lg:items-center lg:justify-evenly lg:h-[70vh] lg:w-full lg:mt-0"
  >
    <section
      class="page2-part1 ml-5 h-[40vh] w-[95vh] lg:h-[65vh] lg:w-[48vw] lg:ml-0 bg-stone-100"
    >
      <section
        class="overlay absolute h-[50vh] w-[95vh] lg:h-[65vh] lg:w-[48vw] bg-stone-100 lg:absolute"
      >
        <h1
          class="text-4xl text-white tracking-wide leading-snug font-[Marcellus] mt-20 ml-20"
        >
          Awnings
        </h1>
        <p
          class="tracking-wider mt-5 text-[#ffffff] ml-20 font-[Poppins Light]"
        >
          Explore our versatile awnings collection, offering <br />
          stylish, durable options for every space. Enjoy <br />
          ultimate comfort, UV protection, and aesthetic <br />
          appeal with our high-quality designs.
        </p>
        <button
          class="px-6 mt-8 ml-20 py-1 rounded-full border-2 text-[#ffffff] font-[Marcellus]"
        >
          View
        </button>
      </section>
      <img
        class="h-[50vh] w-[95vh] lg:h-[65vh] lg:w-[100vw]"
        src="/images/p2-1.webp"
        alt=""
      />
    </section>
    <section
      class="page2-part2 ml-5 mt-24 h-[40vh] w-[95vh] bg-slate-500 lg:h-[65vh] lg:w-[48vw] lg:ml-0 lg:mt-0"
    >
      <section
        class="overlay h-[50vh] absolute w-[95vh] lg:h-[65vh] lg:w-[48vw] bg-stone-100 lg:absolute"
      >
        <h1
          class="text-4xl text-white tracking-wide leading-snug font-[Marcellus] mt-20 ml-20"
        >
          Insect Screens
        </h1>
        <p
          class="tracking-wider mt-5 text-[#ffffff] ml-20 font-[Poppins Light]"
        >
          Experience ultimate convenience with our <br />
          retractable insect screens. Enjoy fresh air <br />
          without the bugs, and easily retract the screen <br />
          when not in use.
        </p>
        <button
          class="px-6 mt-8 ml-20 py-1 rounded-full border-2 text-[#ffffff] font-[Marcellus]"
        >
          View
        </button>
      </section>
      <img
        class="h-[50vh] w-[95vh] lg:h-[65vh] lg:w-[100vw]"
        src="/images/p2-2.webp"
        alt=""
      />
    </section>
  </section>

  <section
    class="page3 h-[110vh] w-[100vh] mt-10 lg:h-[90vh] lg:w-full lg:flex lg:items-center lg:justify-evenly"
  >
    <section class="flex items-center justify-center gap-5">
      <section class="page3-part1 h-[50vh] w-[40vh] lg:h-[65vh] lg:w-[35vw]">
        <img
          class="h-[50vh] lg:h-[65vh] lg:w-[23vw] lg:object-cover lg:ml-28"
          src="/images/p3-1.webp"
          alt=""
        />
      </section>
      <section
        class="page3-part2 bg-slate-800 h-[40vh] w-[30vh] lg:h-[50vh] lg:w-[20vw]"
      >
        <img
          class="h-[40vh] lg:h-[50vh] lg:w-[20vw] lg:object-cover"
          src="/images/p3-2.webp"
          alt=""
        />
      </section>
    </section>
    <section
      class="page3-part3 h-[55vh] w-[80vh] mt-4 ml-24 lg:h-[70vh] lg:w-[80vh] lg:mt-0"
    >
      <section class="absolute lg:h-[70vh] lg:w-[40vw] overlay lg:absolute">
        <h4
          class="text-4xl text-center ml-20 w-96 mt-28 text-[#4ba8bf] lg:text-xs font-semibold lg:mt-20 lg:text-start lg:ml-0"
        >
          WELCOME TO INSIGHT DESIGNS
        </h4>
        <h1
          class="text-xl ml-40 text-center w-56 mt-4 lg:text-4xl lg:mt-7 font-[Marcellus] lg:w-[27vw] lg:tracking-wide leading-tight lg:ml-0 lg:text-start"
        >
          We are <br />
          manufacturer & seller of home improvement products.
        </h1>
        <button
          class="ml-56 text-xs mt-3 px-4 py-2 border-2 rounded-full border-[#4ba8bf] text-[#4ba8bf] font-[Marcellus] lg:mt-7 lg:px-3 lg:py-2 lg:ml-0 lg:text-sm"
        >
          ABOUT US
        </button>
      </section>
      <img
        class="h-[55vh] w-[80vh] lg:h-[65vh] lg:w-[40vw]"
        src="/images/p3-3.webp"
        alt=""
      />
    </section>
  </section>

  <section class="page4 h-[110vh] w-[100vh] lg:h-screen lg:w-full text-center">
    <section class="head1 h-[15vh]">
      <h4 class="text-[#4ba8bf] text-xl lg:text-xs lg:mt-4 font-semibold">
        NEW PRODUCTS
      </h4>
      <h1
        class="text-4xl mt-3 leading-10 lg:text-3xl lg:leading-10 font-[Marcellus]"
      >
        Amazing products ready <br />
        for your home
      </h1>
    </section>
    <section
      class="head2 h-[110vh] w-[100vw] lg:h-[82vh] lg:w-full lg:flex bg-[#ffffff]"
    >
      <section
        class="flex items-start justify-evenly h-[55vh] w-[100vh] lg:w-full lg:flex"
      >
        <section
          class="h-[35vh] w-[35vh] mt-6 bg-red-400 lg:h-[60vh] lg:mt-8 lg:w-[22vw] page4-part1"
        >
          <img src="/images/p4-1.webp " alt="" />
          <h1 class="mt-3 font-[Marcellus]">Skylight Blinds</h1>
          <button
            class="px-5 mt-3 py-1 border-2 rounded-full border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf]"
          >
            View
          </button>
        </section>
        <section
          class="h-[35vh] w-[35vh] mt-6 lg:h-[60vh] lg:mt-8 lg:w-[22vw] page4-part2"
        >
          <img src="/images/p4-2.webp" alt="" />
          <h1 class="mt-3 font-[Marcellus]">Automated Pergola</h1>
          <button
            class="px-5 mt-3 py-1 border-2 rounded-full border-[#4ba8bf] text-[#4ba8bf] font-[Marcellus]"
          >
            View
          </button>
        </section>
      </section>
      <section
        class="flex items-start justify-evenly h-[55vh] w-[100vh] mt-10 lg:w-full lg:flex lg:mt-0"
      >
        <section
          class="h-[35vh] w-[35vh] lg:h-[60vh] lg:mt-8 lg:w-[22vw] page4-part3"
        >
          <img src="/images/p4-3.webp" alt="" />
          <h1 class="mt-3 font-[Marcellus]">Honeycomb Partition Door</h1>
          <button
            class="px-5 mt-3 py-1 border-2 rounded-full border-[#4ba8bf] text-[#4ba8bf] font-[Poppins]"
          >
            View
          </button>
        </section>
        <section
          class="h-[35vh] w-[35vh] lg:h-[60vh] lg:mt-8 lg:w-[22vw] page4-part4"
        >
          <img src="/images/p4-4.webp" alt="" />
          <h1 class="mt-3 font-[Marcellus]">DGU Glass Blinds</h1>
          <button
            class="px-5 mt-3 py-1 border-2 rounded-full border-[#4ba8bf] text-[#4ba8bf] font-[Marcellus]"
          >
            View
          </button>
        </section>
      </section>
    </section>

    <section class="head3 mt-16 lg:mt-0">
      <a class="text-xs tracking-wider font-medium" href=""
        >VIEW ALL PRODUCTS
        <span><i class="ri-arrow-right-s-line text-[2vh]"></i></span>
      </a>
    </section>
  </section>

  <section
    class="page5 h-[87vh] w-[100vh] mt-60 flex items-start lg:h-[100vh] lg:px-5 lg:mt-10 lg:w-full bg-[#f5f5f5] lg:flex lg:items-start"
  >
    <section
      class="page5-part1 h-[55vh] w-[50vh] mt-20 lg:h-[95vh] lg:w-[40vw] lg:mt-5"
    >
      <img
        class="object-cover h-[55vh] w-[50vh] lg:h-[95vh] lg:w-[40vw]"
        src="/images/p5-1.webp"
        alt=""
      />
    </section>

    <section
      class="page5-part2 h-[90vh] w-[50vh] lg:h-[95vh] lg:w-[60vw] lg:mt-5"
    >
      <h3
        class="text-[#4ba8bf] mt-20 ml-10 text-xs lg:ml-10 font-semibold lg:mt-14"
      >
        MESH PRODUCTS
      </h3>
      <h1 class="ml-10 text-3xl lg:text-4xl lg:ml-10 lg:mt-3 font-[Marcellus]">
        Insect Screens
      </h1>

      <section
        class="boxs absolute ml-10 h-[20vh] w-[20vh] mt-3 lg:h-[55vh] lg:w-64 bg-[#ffffff] lg:absolute lg:left-[26vw] lg:mt-10"
      >
        <img src="/images/p5-2.webp" alt="" />
        <h1
          class="text-gray-700 text-sm mt-2 lg:ml-14 lg:mt-2 font-[Marcellus]"
        >
          Pleated Mesh Classic
        </h1>
        <button
          class="text-xs mt-1 px-3 py-1 lg:ml-24 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </section>

      <section
        class="boxs absolute ml-10 h-[20vh] w-[20vh] mt-64 lg:h-[55vh] lg:w-64 bg-[#ffffff] lg:absolute lg:left-[46vw] lg:mt-10"
      >
        <img src="/images/p5-3.webp" alt="" />
        <h1 class="text-gray-700 lg:ml-14 lg:mt-2 font-[Marcellus]">
          Pleated Mesh Elite
        </h1>
        <button
          class="text-xs mt-1 px-3 py-1 lg:ml-24 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] text-[#4ba8bf] font-[Marcellus] rounded-full"
        >
          View
        </button>
      </section>

      <section
        class="boxs absolute mt-64 h-[20vh] w-[20vh] ml-52 lg:h-[55vh] lg:w-64 bg-[#ffffff] lg:absolute lg:left-[66vw] lg:mt-10 lg:ml-12"
      >
        <img src="/images/p5-4.webp" alt="" />
        <h1 class="text-gray-700 lg:ml-14 lg:mt-2 font-[Marcellus]">
          Barrier Free Mesh
        </h1>
        <button
          class="text-xs mt-2 px-3 py-1 lg:ml-24 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </section>
    </section>
    <a
      class="text-xs mt-[75vh] ml-40 absolute tracking-wider font-medium lg:ml-[42vw] lg:mt-[41vw] lg:absolute"
      href=""
      >VIEW ALL PRODUCT
      <span><i class="ri-arrow-right-s-line lg:text-[2vh]"></i></span
    ></a>
  </section>

  <section
  class="page6 h-[40vh] flex w-[100vh] lg:h-[70vh] lg:w-full lg:flex lg:items-center lg:justify-evenly"
  >
    <section class="page6-part1 mt-16 lg:h-[40vh] lg:w-96 lg:mt-0">
      <img src="/images/p6-1.webp" alt="" />
    </section>
    <section class="page6-part2 mt-16 lg:h-[40vh] lg:w-96 lg:mt-0">
      <img src="/images/p6-2.webp" alt="" />
    </section>
    <section class="page6-part3 mt-16 lg:h-[40vh] lg:w-96 lg:mt-0">
      <img src="/images/p6-3.webp" alt="" />
    </section>
  </section>

  <section class="page7 h-[36vh] bg-slate-500 w-[100vh] lg:h-[75vh] lg:w-full">
    <section
      class="overlay absolute h-[36vh] w-[100vh] lg:h-[75vh] lg:w-1/2 lg:absolute"
    >
      <h1
        class="text-4xl ml-20 mt-5 lg:text-5xl lg:ml-52 lg:mt-24 text-white font-[Marcellus]"
      >
        Let’s Connect
      </h1>
      <p class="ml-20 text-xs mt-3 lg:ml-52 lg:mt-5 lg:text-xl text-white">
        Share your contact details <br />
        and we’ll contact you soon!
      </p>
      <section class="btn mt-2 lg:mt-8">
        <section class="btn1 ml-20 lg:ml-52 g lg:mt-5 lg:flex">
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 outline-none lg:rounded-lg"
            type="Name "
            placeholder="Name"
          />
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 lg:ml-5 outline-none lg:rounded-lg"
            type="text"
            placeholder="Email"
          />
        </section>

        <section class="btn2 ml-20 mt-2 lg:ml-52 lg:mt-3 lg:flex">
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 outline-none lg:rounded-lg"
            type="text"
            placeholder="Phone"
          />
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 lg:ml-5 outline-none lg:rounded-lg"
            type="text"
            placeholder="City"
          />
        </section>
      </section>
      <button
        class="px-3 text-xs py-1 mt-5 ml-20 lg:px-8 lg:py-2 lg:ml-52 lg:mt-10 lg:text-xl rounded-full border-2 border-[#ffffff] text-[#ffffff] font-[Marcellus]"
      >
        SUBMIT
      </button>
    </section>
    <img
      class="h-[36vh] w-[100vh] lg:h-[75vh] lg:w-full"
      src="/images/p7.webp"
      alt=""
    />
  </section>

  <section
    class="page8 h-[60vh] w-[100vh] lg:h-[60vh] lg:w-full flex justify-center items-center"
  >
    <section class="page8-part1 h-[52vh] w-[40vh] lg:w-[30vw] lg:h-[40vh]">
      <img
        class="px-12 py-1 mt-8 lg:px-10 lg:py-2 lg:mt-0"
        src="/images/logo.webp"
        alt=""
      />
      <p
        class="px-1 ml-8 mt-12 text-lg lg:px-10 lg:py-14 tracking-wide font-[Poppins Light] leading-tight lg:mt-0 lg:ml-0"
      >
        Transform your living spaces <br />
        with our top-tier insect <br />
        screens and awnings. Enjoy a <br />
        blend of protection, comfort, <br />
        and style, making your home a <br />
        haven of tranquility.
      </p>
    </section>
    <section
      class="page8-part2 h-[60vh] w-[60vh] lg:w-[70vw] lg:h-[40vh] lg:flex lg:items-center lg:justify-center"
    >
      <section class="flex mt-20 ml-20 gap-16 lg:flex lg:mt-0 lg:ml-0 lg:gap-0">
        <section class="part-1 lg:w-[14vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Pages</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">Insect Screens</a> <br />
            <a href="">Awnings</a><br />
            <a class="" href="">Shades</a>
          </section>
        </section>
        <section class="part-2 lg:w-[12vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Follow us</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">Instagram</a> <br />
            <a href="">Facebook</a><br />
            <a class="" href="">Linkedin</a>
          </section>
        </section>
      </section>

      <section class="flex mt-7 ml-20 gap-24 lg:flex lg:mt-0 lg:ml-0 lg:gap-0">
        <section class="part-3 lg:w-[12vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Contact</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">0000 0000</a> <br />
            <a href="">0000 0000</a><br />
            <a class="" href="">0000 0000</a>
          </section>
        </section>
        <section class="part-4 lg:w-[18vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Address</h1>
          <section class="footer1 lg:mt-14">
            <p>
              Sector H, Govindpura <br />
              Industrial Area, Near <br />
              Barnala Crane, <br />
              442022
            </p>
          </section>
        </section>
      </section>
    </section>
  </section>
  
</section>

<%- include("./partials/footer.ejs") %>
