<%- include("./partials/header.ejs") %>
<section class="main w-[100vw] h-[100vh] bg-[#ffffff]">
  

  <section class="page1 h-[55vh] w-[100vh] lg:h-[115vh] lg:w-[100vw]">
    <section class="part-1 h-[29vh] w-[100vh]  lg:h-[60vh] lg:w-full ">
      <section class="overlay absolute h-[30vh] w-[100vh]  lg:h-[65vh] lg:w-[100vw] ">
        <h1
          class="text-white ml-[43vh] mt-10 text-2xl lg:text-4xl font-[Marcellus] lg:ml-[44vw] lg:mt-20"
        >
          PRODUCTS
        </h1>
        <p
          class=" text-white text-sm w-[60vh] ml-[43vw] font-[Poppins] text-center lg:w-[30vw]  lg:ml-[35vw] lg:mt-5"
        >
          Enhance your home’s comfort and aesthetic with our range of home
          improvement products. From durable blinds to elegant shades, find
          solutions that fit your style and needs.
        </p>
      </section>
      <img src="/images/po1-1.webp" alt="" />
    </section>
    <section
      class="part-2 absolute h-[2vh] w-[100vh] flex items-center justify-evenly lg:h-[60vh] lg:w-[100vw]  lg:top-96 "
    >
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-2.webp" alt="" />
      </section>
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-3.webp" alt="" />
      </section>
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-4.webp" alt="" />
      </section>
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-5.webp" alt="" />
      </section>
    </section>
  </section>

  <section class="page2  h-[100vh] w-[100vh] lg:h-[170vh] lg:w-[100vw]">
    <h1 class=" text-4xl ml-[36vh] lg:text-5xl font-[Marcellus] lg:ml-[40vw] text-[#4ba8bf]">
      Insect Screens
    </h1>
    <p class=" w-[50vh] text-center mt-2 ml-[25vh] lg:w-[25vw]  lg:ml-[37vw] lg:mt-3 text-black">
      Protect your indoors from mosquitoes and insects with our wide range
      of premium insect screens.
    </p>

    <section
      class="part-1 h-[35vh] mt-6 w-[100vh]  flex justify-evenly lg:gap-16 lg:justify-center lg:h-[60vh] lg:w-[100vw]  lg:mt-14 "
    >
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-1.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-2 lg:ml-24 lg:mt-2 font-[Marcellus]">Pleated Mesh Classic</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-2.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-4 lg:ml-28 lg:mt-2 font-[Marcellus]">Pleated Mesh Elite</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-36 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-3.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-4 lg:ml-24 lg:mt-2 font-[Marcellus]">Barrier Free Mesh</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
    </section>

    <section
      class="part-2 h-[35vh] mt-6 w-[100vh]  flex justify-evenly lg:gap-16 lg:justify-center lg:h-[70vh] lg:w-[100vw]  lg:mt-14 "
    >
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-4.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-2 lg:ml-24 lg:mt-2 font-[Marcellus]">Pleated Mesh Classic</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-5.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-4 lg:ml-28 lg:mt-2 font-[Marcellus]">Pleated Mesh Elite</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-10 lg:ml-36 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-6.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-5 lg:ml-24 lg:mt-2 font-[Marcellus]">Barrier Free Mesh</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
    </section>
    
   
  </section>

  <section
    class="page7 h-[36vh] bg-slate-500 w-[100vh] lg:h-[75vh] lg:w-[100vw]"
  >
    <section
      class="overlay absolute h-[36vh] w-[100vh] lg:h-[75vh] lg:w-1/2 lg:absolute"
    >
      <h1
        class="text-4xl ml-20 mt-5 lg:text-5xl lg:ml-52 lg:mt-24 text-white font-[Marcellus]"
      >
        Let’s Connect
      </h1>
      <p class="ml-20 text-xs mt-3 lg:ml-52 lg:mt-5 lg:text-xl text-white">
        Share your contact details <br />
        and we’ll contact you soon!
      </p>
      <section class="btn mt-2 lg:mt-8">
        <section class="btn1 ml-20 lg:ml-52 g lg:mt-5 lg:flex">
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 outline-none lg:rounded-lg"
            type="Name "
            placeholder="Name"
          />
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 lg:ml-5 outline-none lg:rounded-lg"
            type="text"
            placeholder="Email"
          />
        </section>

        <section class="btn2 ml-20 mt-2 lg:ml-52 lg:mt-3 lg:flex">
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 outline-none lg:rounded-lg"
            type="text"
            placeholder="Phone"
          />
          <input
            class="w-[45vw] h-[4vh] rounded-sm lg:py-5 lg:px-3 lg:ml-5 outline-none lg:rounded-lg"
            type="text"
            placeholder="City"
          />
        </section>
      </section>
      <button
        class="px-3 text-xs py-1 mt-5 ml-20 lg:px-8 lg:py-2 lg:ml-52 lg:mt-10 lg:text-xl rounded-full border-2 border-[#ffffff] text-[#ffffff] font-[Marcellus]"
      >
        SUBMIT
      </button>
    </section>
    <img
      class="h-[36vh] w-[100vh] lg:h-[75vh] lg:w-full"
      src="/images/footer.webp"
      alt=""
    />
  </section>

  <section
    class="page8 h-[60vh] w-[100vh] lg:h-[60vh] lg:w-[100vw] flex justify-center items-center"
  >
    <section class="page8-part1 h-[52vh] w-[40vh] lg:w-[30vw] lg:h-[40vh]">
      <img
        class="px-12 py-1 mt-8 lg:px-10 lg:py-2 lg:mt-0"
        src="/images/logo.webp"
        alt=""
      />
      <p
        class="px-1 ml-8 mt-12 text-lg lg:px-10 lg:py-14 tracking-wide font-[Poppins Light] leading-tight lg:mt-0 lg:ml-0"
      >
        Transform your living spaces <br />
        with our top-tier insect <br />
        screens and awnings. Enjoy a <br />
        blend of protection, comfort, <br />
        and style, making your home a <br />
        haven of tranquility.
      </p>
    </section>
    <section
      class="page8-part2 h-[60vh] w-[60vh] lg:w-[70vw] lg:h-[40vh] lg:flex lg:items-center lg:justify-center"
    >
      <section
        class="flex mt-20 ml-20 gap-16 lg:flex lg:mt-0 lg:ml-0 lg:gap-0"
      >
        <section class="part-1 lg:w-[14vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Pages</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">Insect Screens</a> <br />
            <a href="">Awnings</a><br />
            <a class="" href="">Shades</a>
          </section>
        </section>
        <section class="part-2 lg:w-[12vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Follow us</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">Instagram</a> <br />
            <a href="">Facebook</a><br />
            <a class="" href="">Linkedin</a>
          </section>
        </section>
      </section>

      <section
        class="flex mt-7 ml-20 gap-24 lg:flex lg:mt-0 lg:ml-0 lg:gap-0"
      >
        <section class="part-3 lg:w-[12vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Contact</h1>
          <section class="footer1 lg:mt-14">
            <a class="" href="">0000 0000</a> <br />
            <a href="">0000 0000</a><br />
            <a class="" href="">0000 0000</a>
          </section>
        </section>
        <section class="part-4 lg:w-[18vw] lg:h-[35vh]">
          <h1 class="text-[#4ba8bf] font-[Marcellus]">Address</h1>
          <section class="footer1 lg:mt-14">
            <p>
              Sector H, Govindpura <br />
              Industrial Area, Near <br />
              Barnala Crane, <br />
              442022
            </p>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
<%- include("./partials/footer.ejs") %>
