<%- include("./partials/header.ejs") %>
<section class="main w-[100vw] overflow-hidden bg-[#ffffff]">
  

  <section class="page1 h-[55vh] w-[100vh] lg:h-[115vh] lg:w-[100vw]">
    <section class="part-1 h-[29vh] w-[100vh]  lg:h-[60vh] lg:w-full ">
      <section class="overlay absolute h-[30vh] w-[100vh]  lg:h-[65vh] lg:w-[100vw] ">
        <h1
          class="text-white ml-[43vh] mt-10 text-2xl lg:text-4xl font-[Marcellus] lg:ml-[44vw] lg:mt-20"
        >
          PRODUCTS
        </h1>
        <p
          class=" text-white text-sm w-[60vh] ml-[43vw] font-[Poppins] text-center lg:w-[30vw]  lg:ml-[35vw] lg:mt-5"
        >
          Enhance your home’s comfort and aesthetic with our range of home
          improvement products. From durable blinds to elegant shades, find
          solutions that fit your style and needs.
        </p>
      </section>
      <img src="/images/po1-1.webp" alt="" />
    </section>
    <section
      class="part-2 absolute h-[2vh] w-[100vh] flex items-center justify-evenly lg:h-[60vh] lg:w-[100vw]  lg:top-96 "
    >
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-2.webp" alt="" />
      </section>
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-3.webp" alt="" />
      </section>
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-4.webp" alt="" />
      </section>
      <section class="box1 h-[15vh] w-[20vh] lg:h-[55vh] lg:w-[20vw]">
        <img src="/images/po1-5.webp" alt="" />
      </section>
    </section>
  </section>

  <section class="page2  h-[100vh] w-[100vh] lg:h-[170vh] lg:w-[100vw]">
    <h1 class=" text-4xl ml-[36vh] lg:text-5xl font-[Marcellus] lg:ml-[40vw] text-[#4ba8bf]">
      Insect Screens
    </h1>
    <p class=" w-[50vh] text-center mt-2 ml-[25vh] lg:w-[25vw]  lg:ml-[37vw] lg:mt-3 text-black">
      Protect your indoors from mosquitoes and insects with our wide range
      of premium insect screens.
    </p>

    <section
      class="part-1 h-[35vh] mt-6 w-[100vh]  flex justify-evenly lg:gap-16 lg:justify-center lg:h-[60vh] lg:w-[100vw]  lg:mt-14 "
    >
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-1.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-2 lg:ml-24 lg:mt-2 font-[Marcellus]">Pleated Mesh Classic</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-2.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-4 lg:ml-28 lg:mt-2 font-[Marcellus]">Pleated Mesh Elite</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-36 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-3.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-4 lg:ml-24 lg:mt-2 font-[Marcellus]">Barrier Free Mesh</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
    </section>

    <section
      class="part-2 h-[35vh] mt-6 w-[100vh]  flex justify-evenly lg:gap-16 lg:justify-center lg:h-[70vh] lg:w-[100vw]  lg:mt-14 "
    >
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-4.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-2 lg:ml-24 lg:mt-2 font-[Marcellus]">Pleated Mesh Classic</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-5.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-4 lg:ml-28 lg:mt-2 font-[Marcellus]">Pleated Mesh Elite</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-10 lg:ml-36 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
      <div class="box1 h-[32vh] w-[20vh] lg:h-[42vh] lg:w-[22vw]">
        <img src="/images/po2-6.webp" alt="" />
        <h1 class="text-black text-sm mt-2 ml-5 lg:ml-24 lg:mt-2 font-[Marcellus]">Barrier Free Mesh</h1>
        <button
          class="text-xs mt-1 px-3 py-1 ml-12 lg:ml-32 lg:mt-3 lg:px-5 lg:py-2 border-2 border-[#4ba8bf] font-[Marcellus] text-[#4ba8bf] rounded-full"
        >
          View
        </button>
      </div>
    </section>
    
   
  </section>

</section>
<%- include("./partials/footer.ejs") %>
