
.page7 > .overlay {
  background: linear-gradient(to right, #2c2b2b, #ffffff00);
}
.page2-part1>.overlay{
  background: linear-gradient(to right, #2c2b2b, #ffffff00);
}
.page2-part2>.overlay{
  background: linear-gradient(to right, #2c2b2b, #ffffff00);
}
